* {
    margin: 0;
}

html, body {
    height: 100%;
}

div#commander-menu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

div#footer, div.footer{
    position:fixed;
    bottom:0;
    /* left:0; */
    /* width:100%; */
}

/* @media screen{ */
/*     body>div#commander-menu { */
/*         position:fixed; */
/*     } */
    
/*     body>div#footer{ */
/*         position:fixed; */
/*     } */
/*     div.footer { */
/*         position:fixed !important; */
/*     } */
/* } */

* html body{
    overflow:hidden;
} 

* html div#content{
    height:100%;
    overflow:auto;
}


#command-line {
    padding:2em;
    width:500px;
    display:none;
}

#command-line input {
    float: left;
}

#command-line-input {
    width:70%;
}

#commander-help {
    /* height:10em; */
    display:none;
    width:30%;
    position:fixed;
    bottom:0;
    right:0;
    background-color: #FFFFF2;
}

#commander-menu {
    display:none;
}

#commander-debug {
    display:none;
}

#footer {
    background-color:#FFFFF2;
}

#footer div {
    float:left;
}

#commander-help h1 {
    font-size:14px;
}

#commander-help ul {
    list-style-type: none;
}

#commander-help {
    font-size:12px;
}

#commander-menu {
    background-color:#FFFFF2;
}